/*
 * BASE - Dont edit this
 */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    /*background-image: url(../img/background.jpg);*/
    background-size: cover;
}
/*
 * End base
 */


/*
 * Header
 */
nav .nav-wrapper {
    background: #043540;
}
/*
 * End header
 */

/*
 * Site view
 */
.side-nav .userView .circle {
    height: 122px;
    width: 122px;
    margin: 0 25px auto;
}
/*
 * End site
 */

/*
 * Footer
 */
footer.page-footer {
	background: #043540;
	margin-top: 0;
    padding-top: 0;
}
footer .container {
	width: 100%;
}
footer .row {
	margin-bottom: 0;
}
footer.page-footer .collection {
    border: none;
    margin: 0;
}
footer.page-footer .collection .collection-item {
	width: 20%;
    float: left;
    border: none;
}
footer.page-footer .collection a.collection-item {
	background: #043540;
	color: #fff;
	padding: 5px 20px;
	text-align: center;
}
footer.page-footer .collection a.collection-item.active {
	background: #f18879;
}
/*
 * End footer
 */